<footer class="wp-block-template-part rad-site-footer rad-halftone">
  <div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained rad-footer-inner-wrap">
    <div class="wp-block-columns alignwide is-layout-flex wp-block-columns-is-layout-flex">
      <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
        <div class="wp-block-group is-vertical is-layout-flex wp-block-group-is-layout-flex">
          <p class="wp-block-site-title has-medium-font-size"><a href="/" rel="home" class="rad-footer-brand"><span class="rad-footer-brand__line">RAD Data Hub</span><span class="rad-footer-brand__line">Resentence and Decarcerate</span></a></p>
        </div>
      </div>
    </div>
    <div class="wp-block-group alignwide is-layout-flow wp-block-group-is-layout-flow rad-footer-links-row">
      <div class="wp-block-group is-vertical is-layout-flex wp-block-group-is-layout-flex rad-footer-links-col">
        <h2 class="wp-block-heading has-medium-font-size has-body-font-family rad-footer-heading">Project Links</h2>
        <nav class="wp-block-navigation is-layout-flex wp-block-navigation-is-layout-flex rad-footer-nav" aria-label="Project Links">
          <ul class="wp-block-navigation__container has-small-font-size is-vertical wp-block-navigation rad-footer-nav-list">
            <li class="wp-block-navigation-item wp-block-navigation-link">
              <a class="wp-block-navigation-item__content" href="/privacy"><span class="wp-block-navigation-item__label">Privacy Policy</span></a>
            </li>
            <li class="wp-block-navigation-item wp-block-navigation-link">
              <a class="wp-block-navigation-item__content" href="/terms"><span class="wp-block-navigation-item__label">Terms and Conditions</span></a>
            </li>
            <li class="wp-block-navigation-item wp-block-navigation-link">
              <a class="wp-block-navigation-item__content" href="/contact"><span class="wp-block-navigation-item__label">Contact Us</span></a>
            </li>
            {% if github_repo_url %}
            <li class="wp-block-navigation-item wp-block-navigation-link">
              <a class="wp-block-navigation-item__content" href="{{ github_repo_url }}" target="_blank" rel="noopener noreferrer"><span class="wp-block-navigation-item__label">GitHub Repository</span></a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
